<!-- app/templates/admin/patients/patients.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Patients{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
      <div style="text-align: center">
         <a href="{{ url_for('admin.add_patient') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Patient
          </a>
      </div>
              <hr class="intro-divider">

        <h1 style="text-align:center;">Patients</h1>
        {% if patients %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Name </th>
                  <th width="40%"> MDTC </th>
                  <th width="15%"> Age </th>
                  <th width="15%"> Edit </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for patient in patients %}
                <tr>
                  <td> {{ patient.name }} </td>
                  <td> {{ patient.mdtc }} </td>
                  <td> {{ patient.age }} </td>
                  <td>
                    <a href="{{ url_for('admin.edit_patient', mdtc=patient.mdtc) }}">
                      <i class="fa fa-pencil"></i> Edit
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('admin.delete_patient', mdtc=patient.mdtc) }}">
                      <i class="fa fa-trash"></i> Delete
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No Patient have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_patient') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Patient
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}